@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", "Condensed";
  overflow: hidden;
}

* #root {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 22%;
  padding-bottom: 45%;
  padding-right: 3%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

* #root .main .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 320px;
  height: auto;
  margin: 1rem;
  background: #211F2E;
  border-radius: 0.1rem;
}

* #root .main .notification .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 80%;
  padding: 0.5rem;
  color: #cacaca;
}

* #root .main .notification .type {
  color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25%;
  height: 90%;
  font-size: 26px;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: radial-gradient(90% 100% at center, #FF0037 100%, #FF0037 0%);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.unfold {
  -webkit-animation: unfold 10s ease;
  animation: unfold 10s ease;
}

.fold {
  -webkit-animation: fold 4s ease;
  animation: fold 4s ease;
}

@-webkit-keyframes fold {
  0% {
    opacity: 0.8;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  6%,
  20%,
  80% {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@keyframes fold {
  0% {
    opacity: 0.8;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  6%,
  20%,
  80% {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@-webkit-keyframes unfold {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  6%,
  20%,
  80% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes unfold {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  6%,
  20%,
  80% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}